In [1]:
# data is a list of tuples (pay_period, service_org, auth_count)
data = [
    ('23-11', 'CIO', 4),
    ('23-11', 'CTO', 134),
    ('23-11', 'CoS', 64),
    ('23-11', 'SI', 2),
    ('23-11', 'BIOS', 150),
    ('23-11', 'CRR', 343),
    ('23-11', 'EUS', 3602),
    ('23-11', 'IOS', 721),
    ('23-11', 'ITBF', 140),
    ('23-11', 'OIS', 678),
    ('23-11', 'OPS', 339),
    ('23-11', 'OSS', 205),
    ('23-11', 'PES', 252),
    ('23-11', 'CCS', 498),
    ('23-11', 'SPM', 1536)
]

# generate the UPDATE statements
for item in data:
    pay_period, service_org, auth_count = item
    print(f"UPDATE [dbo].[AuthCounts] SET auth_count = {auth_count} \
WHERE pay_period = '{pay_period}' AND service_org = '{service_org}';")

UPDATE [dbo].[AuthCounts] SET auth_count = 4 WHERE pay_period = '23-11' AND service_org = 'CIO';
UPDATE [dbo].[AuthCounts] SET auth_count = 134 WHERE pay_period = '23-11' AND service_org = 'CTO';
UPDATE [dbo].[AuthCounts] SET auth_count = 64 WHERE pay_period = '23-11' AND service_org = 'CoS';
UPDATE [dbo].[AuthCounts] SET auth_count = 2 WHERE pay_period = '23-11' AND service_org = 'SI';
UPDATE [dbo].[AuthCounts] SET auth_count = 150 WHERE pay_period = '23-11' AND service_org = 'BIOS';
UPDATE [dbo].[AuthCounts] SET auth_count = 343 WHERE pay_period = '23-11' AND service_org = 'CRR';
UPDATE [dbo].[AuthCounts] SET auth_count = 3602 WHERE pay_period = '23-11' AND service_org = 'EUS';
UPDATE [dbo].[AuthCounts] SET auth_count = 721 WHERE pay_period = '23-11' AND service_org = 'IOS';
UPDATE [dbo].[AuthCounts] SET auth_count = 140 WHERE pay_period = '23-11' AND service_org = 'ITBF';
UPDATE [dbo].[AuthCounts] SET auth_count = 678 WHERE pay_period = '23-11' AND service_org = 'OIS';
UPDATE [dbo].[AuthCounts] SET auth_count = 339 WHERE pay_period = '23-11' AND service_org = 'OPS';
UPDATE [dbo].[AuthCounts] SET auth_count = 205 WHERE pay_period = '23-11' AND service_org = 'OSS';
UPDATE [dbo].[AuthCounts] SET auth_count = 252 WHERE pay_period = '23-11' AND service_org = 'PES';
UPDATE [dbo].[AuthCounts] SET auth_count = 498 WHERE pay_period = '23-11' AND service_org = 'CCS';
UPDATE [dbo].[AuthCounts] SET auth_count = 1536 WHERE pay_period = '23-11' AND service_org = 'SPM';